<div class="row">
    <div *ngFor="let heroe of heroes; let i = index">
        <div class="card" style="width: 25%; height: ex; ">
        <div class="card-body">
            <div class="row">

                <div class="col-6 text-white bg-dark" style="width: 25%;">
                    <h5 class="card-title">{{heroe.id}}</h5>
                </div>
                <div class="col-6">
                    <h5 class="card-text">{{heroe.name}}</h5>
                </div>
            </div>

        </div>
    </div>
</div>
</div>